/* trunk-ignore-all(prettier) */
div{
    margin: auto;
    margin-top: 100px;
    height: 400px;
    width: 300px;
    color: rgb(10, 105, 8);
    border: 1px solid #fff;
    border-radius: 25px;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
width: 250px;
height: 18px;
margin-top: 15px;
border-radius: 20px;
}
button{
    color: rgb(10, 105, 8);
    margin-top: 15px;
    border-radius: 20px;
    width: 80px;
    height: 25px;
}
h1{
    height: 18px;
    color: rgb(10, 105, 8);
}
